.Container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.itemContainer{
    display:flex;
    flex-direction: column;
    width: 30vw;
    border: 2px solid gray;
    margin: 1vw;
    border-radius: 8px;
}
.avaName {
    display:flex;
    flex-direction: row;
    margin: 1vw;
}
.ava {
    border-radius: 50%;
}
.text {
    color: gray;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
.leftMargin {
    margin-left: 0.5vw;
    margin-top: 0vw;
}
.padSpace {
    padding: 1vw 0vw 0vw 1vw;
}
.padSpace2 {
    padding: 0vw 0vw 0vw 1vw;
}
.padLeft {
    padding-left: 2vw;
}
.padLeft1 {
    padding-left: 1vw;
}
.bottomSpace {
    margin-bottom: 2vh;;
}
.scores {
    display:flex;
    flex-direction: row;
}
.score {
    display: flex;
    flex-direction: row;
    margin-top: 1vw;
    align-items: center; 
}
.icon {
    margin-left: 2vw;
    width: 1.5vw;
    height: 1.5vw;
}
.icon1 {
    margin-left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}
.gradeVisit {
    display:flex;
    flex-direction: row;
}
.stat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vw;
    height: 2vw;
    border-radius: 20px;
    margin-left: 2vw;
    margin-top: 1vh;
    color: white;
    font-size: 20px;
}
.persInfo {
    display:flex;
    flex-direction: row;
    margin-bottom: 1vh;
}
.spaceTop {
    margin-top: 3vh;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh 0vw 2vh 2vw;
    height: 3vh;
}
.inp {
    display: flex;
    margin: 2vh 0vw 1vh 2vw;
    width: 15vw;
    height: 3vh;
}
.newsInfo {
    display: flex;
    flex-direction: row;
}
.previewComponent {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgPreview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34vw;
    height: 55vh;
    margin: 2vw;
    border: 2px solid black;
    border-radius: 10px;
}
.fileInput {
    margin-right: 3vw;
}
.storiesItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: auto;
    border: 2px solid gray;
    margin: 2vh 0vw; 
    padding: 1vw;
}

.storiesImg {
    width: 25vw;
    height: auto;
}
.descInp {
    width: 33vw;
    height: 5vh;
    margin-bottom: 1vh;
}


