<div class="content" role="main">
  
  
  <div>
    <button (click)="car()">Машина</button>
    <button (click)="airplane()">Самолет</button>
    <button (click)="ship()">Корабль</button>
  </div>

  <div [ngSwitch]="show" style="text-align: center; margin: 20px;">
    <ng-template ngSwitchCase="1">
      <img src="../assets/img/car.jpg" alt="">
      <p>Лимузин American Dream – один из самых больших легковых машин и чемпион мира по длине (30,48 м). Его специально строили в 1980-х гг. для съемок фильма «Назад в будущее», «Старски и Хатч» и др. По сей день лидирует в «Рекордах Гиннеса».</p> 
    </ng-template>
    <ng-template ngSwitchCase="2">
      <img src="../assets/img/air.jpg" alt="">
      <p>Ан-225 (Мрия) Это самый большой транспортный самолет из когда-либо построенных. Его максимальная взлетная масса составляет 640 тонн, а грузоподъемность — 250 тонн.</p> 
    </ng-template>
    <ng-template ngSwitchCase="3">
      <img src="../assets/img/ship.webp" alt="">
      <p>Knock Nevis — 458,45 метра Корабль был построен в 1979 году в Японии. Даже на фото видно, насколько он огромный — 458,45 метра в длину. Судно могло перевести за рейс свыше 657 тысяч тонн нефтепродуктов. Ни один пароход в мире никогда не достигал подобной грузоподъемности. Даже получив пробоину, корабль бы не смог затонуть — его бы держала на воде нефть в остальных танках.</p> 
    </ng-template>
  </div>



</div>