
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
</div>

<div class="content" role="main">
  <h2 style="color: blueviolet;">Хоббихорсинг</h2>
  <p>Хоббихорсинг — «ска́чки» на деревянной палке с лошадиной головой — имеют давнюю историю. Так, они описываются уже в книге XIX века, где говорится о том, что подобное развлечение было традиционным первомайским ритуалом среди рыбаков городка Майнхед[en] в Сомерсетшире, Англия[1]. Однако в течение долгого времени подобные «ска́чки» оставались либо детской забавой, либо чудачеством. Ситуация начала меняться с 2010 года, когда финская девочка-подросток Алиса Аорнимяки сначала сама увлеклась подобными «ска́чками», а затем начала искать и организовывать через социальные сети подруг по подобному увлечению. Через несколько лет в Финляндии образовалась целая субкультура любительниц хоббихорсинга. С 2015 года Алиса стала формировать правила нового вида спорта. В 2017 году на экраны вышел фильм режиссёра Селмы Вилхунен Hobbihorse revolution (с англ. — «Революция хоббихорсинга»), который привлёк внимание к зарождавшемуся виду спорта не только в Финляндии, но и в других странах</p>
  <img src="../assets/img/img.jpg" alt="" style="margin-top: 50px;">
</div>